.parfait1 {
	background: #4a4a4a;
	padding: 50px 0;
}

header [class*="block-grid-"] > li{
	padding: 0;
	background: rgba(0,0,0,.2);
	height: 190px;
}

header a {
	position: relative;
	height: 190px;
}

header [class*="block-grid-"] img {
	height: 100%;
}

header p {
	color: #fff;
	margin-top: 30px;
	padding-left: 10px;
}

header h3,
header h5 {
	background: rgba(0,0,0,.5);
	width: 100%;
	padding: 10px;	
	position: absolute;
	top: 50%;
	color: #fff;
}

header h2 {
	padding: 30px;
}

.parfait2 {
	background: #8a8a8a;
	padding: 50px 0;
}